.Collection-title {
  border-bottom: 1px solid #d5d5d5;
}

.Recommend {
  border-bottom: 1px solid #d5d5d5;

  span {
    font-size: 25px;
    color: #108ee9;
  }

  p {
    font-size: 30px;
    margin: 10px 0;
  }

  h3 {
    color: #d5d5d5;
    font-weight: normal;
    margin: 15px 0;
  }
}
