.Detail-cover {
  height: 500px;
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Detail-title {
  margin: 60px 0;
  font-size: 40px;
  color: #181818;
}

.Detail-tag {
  display: flex;
  flex-wrap: wrap;
  color: #585858;
  font-size: 24px;

  .Detail-tag-item {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #585858;
    border-radius: 10px;
  }
}

.Detail-imtro {
  font-weight: 500;
}

.Detail-material-item {
  display: flex;
  padding: 10px 0;
  border-bottom: 2px solid #d5d5d5;
  justify-content: space-between;
}

.Detail-step {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  min-height: 150px;

  p {
    margin: 0;
    flex: 1;
  }

  p::first-letter {
    font-size: 40px;
    font-weight: bold;
  }

  img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 10px;
  }
}
