.Detail-cover {
  height: 400px;
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.Detail-title {
  font-size: 40px;
  color: #181818; }

.Detail-tag {
  display: flex;
  flex-wrap: wrap;
  color: #585858;
  font-size: 24px; }
  .Detail-tag .Detail-tag-item {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    border: 1px solid #585858;
    border-radius: 10px; }

.Detail-imtro {
  font-weight: 500; }
