.Home  {
  .am-search {
    border-radius: 20px;
  }

  .am-search-input {
    background-color: transparent;
  }
}

.Home-tab {
  display: flex;
  align-items: center;
  position: relative;

  &.actived-1 {
    &::after {
      left: calc(20% + 20px);
    }
  }

  &.actived-2 {
    &::after {
      left: calc(40% + 40px);
    }
  }

  &.actived-3 {
    &::after {
      left: calc(60% + 60px);
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../assets/tag.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transition: left 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.Home-tab-item {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  padding: 16px 0;
  width: 20%;
  color: inherit;
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);

  &.actived {
    color: #f5f5f5;
    background-color: #108ee9;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  }
}


.Home-content-item {
  display: flex;
  margin-bottom: 30px;

  .cover {
    width: 30%;
    margin-right: 20px;
    flex: 1;
    // lazyloading， 如果img没加载出来，优先用默认图片
    background-image: url('../assets/food_loading.svg');
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 178px; // 防止页面加载的时候文字没有输出导致高度塌陷，在文字输出被撑高后产生页面抖动

    .title {
      margin: 0;
      line-height: 1; // 为了与左边图片顶部对其，不设置行高
      margin-bottom: 10px;
    }

    .imtro {
      margin: 0;
    }
  }
}
