html,
body,
#App {
  background: #fff;
}

body {
  color: #383838;
  font-size: 40px;
  line-height: 1.5;
  font-family:
  "PingFang SC",
  "Helvetica Neue",
  Helvetica,Arial,
  "Microsoft Yahei",
  "Hiragino Sans GB",
  "Heiti SC",
  "WenQuanYi Micro Hei",
  sans-serif;
  width: 100%;
  overflow-x: hidden;
}

@import './Home.css';
@import './Detail.css';
