html,
body,
#App {
  background: #fff;
}

body {
  font-size: 40px;
  line-height: 1.5;
  font-family:
  "Helvetica Neue",
  Helvetica,Arial,
  "Microsoft Yahei",
  "Hiragino Sans GB",
  "Heiti SC",
  "WenQuanYi Micro Hei",
  sans-serif;
}

@import './Home.css';
