@import url(./Home.css);
html,
body,
#App {
  background: #fff; }

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica,Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif; }
