.Search-item {
  display: flex;
  color: #383838;

  .cover {
    margin-right: 40px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.Search-item-body {
  margin-bottom: 40px;
  flex: 1;

  .title {
    font-size: 32px;
    margin: 0 0 20px;
  }

  .content {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.4;
    max-height: 110px; // 兼容不支持 webkit-box 的浏览器
  }
}

